<div class="main-container">
  <div class="section left-section">
    <div class="text-content">
      <h1 class="logo-title">Crear Cuenta</h1>
      <div class="underline"></div>
      <p class="description-text">
        Únete a la comunidad de Q-LESS. Registra tus datos para acceder a todos los servicios de la papelería virtual del SENA de manera rápida y sencilla.
      </p>
    </div>
  </div>

  <div class="section right-section">
    <div class="login-card">
      <div class="profile-circle">
        <img src="https://img.icons8.com/?size=100&id=7820&format=png&color=FFFFFF" alt="Carrito Q-LESS" class="cart-icon-img">
      </div>

      <form (ngSubmit)="registrar()">
        <div class="input-group">
          <i class="bi bi-person"></i>
          <input type="text" [(ngModel)]="user.name" name="name" placeholder="Nombre completo" required>
        </div>

        <div class="input-group">
          <i class="bi bi-envelope"></i>
          <input type="email" [(ngModel)]="user.email" name="email" placeholder="Correo electrónico" required>
        </div>

        <div class="input-group">
          <i class="bi bi-lock"></i>
          <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="login-button">Registrarse</button>

        <div class="divider">
          <span>O</span>
        </div>

        <div class="register-container">
          <p class="small-text">¿Ya tienes una cuenta?</p>
          <button type="button" class="register-button" routerLink="/login">
            Inicia sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>