<div class="register-container">
  <div class="login-box">
    <div class="login-icon">
      <i class="bi bi-person-plus"></i>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      
      <div class="input-wrapper">
        <input 
          type="text" 
          [(ngModel)]="name" 
          name="name" 
          placeholder="Nombre completo" 
          required
          #nameField="ngModel">
        <small class="text-danger" *ngIf="nameField.invalid && nameField.touched">
          El nombre es obligatorio.
        </small>
      </div>

      <div class="input-wrapper">
        <input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          placeholder="Correo electrónico" 
          required
          email
          #emailField="ngModel">
        <small class="text-danger" *ngIf="emailField.invalid && emailField.touched">
          Ingresa un correo válido.
        </small>
      </div>

      <div class="input-wrapper">
        <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          placeholder="Contraseña" 
          required
          minlength="6"
          #passField="ngModel">
        <small class="text-danger" *ngIf="passField.invalid && passField.touched">
          Mínimo 6 caracteres.
        </small>
      </div>

      <div class="input-wrapper">
        <input 
          type="password" 
          [(ngModel)]="password_confirmation" 
          name="password_confirmation" 
          placeholder="Confirmar contraseña" 
          required
          #confirmField="ngModel">
        <small class="text-danger" *ngIf="password !== password_confirmation && confirmField.touched">
          Las contraseñas no coinciden.
        </small>
      </div>

      <button type="submit" [disabled]="registerForm.invalid || password !== password_confirmation">
        Crear cuenta
      </button>

      <div class="login-link">
        <p>¿Ya tienes una cuenta?</p>
        <a routerLink="/login" style="cursor: pointer;">Inicia sesión</a>
      </div>
    </form>
  </div>
</div>